[submodule "gaia-visualize"]
	path = gaia-visualize
	url = https://github.com/rtmill/gaia-visualize
[submodule "gaia-prepare"]
	path = gaia-prepare
	url = https://github.com/rtmill/gaia-prepare
[submodule "gaia-extract"]
	path = gaia-extract
	url = https://github.com/rtmill/gaia-extract
